<div>
  <div class="live-box">
    <livebox ref="livebox" @forbidChange="forbidChange"> </livebox>
    <div class="barList scroll-event" id="barList">
      <div v-for="(item,index) in barrageList1" :key="index">
       <span class="blueBox">{{item.nickName}} : </span> {{item.msg}}
      </div>
      <!--发送消息-->
      <div class="sendInfo">
        <el-input v-model="sendInput" placeholder="请输入内容" style="width:80%"></el-input>
        <el-button type="primary" style="width:18%" @click="sendGroupLoveMsg">发送</el-button>
      </div>
    </div>
    <div class="flag-box">
      <div class="fl">
        <span>切断直播</span>
        <el-switch
          v-model="value"
          active-color="#13ce66"
          inactive-color="#ff4949"
          @change="liveChange">
        </el-switch>
      </div>
      <div class="fl">
        <span>评论开关</span>
        <el-switch
          v-model="plvalue"
          active-color="#13ce66"
          inactive-color="#ff4949"
          @change="changeShutup">
        </el-switch>
      </div>
    </div>
  </div>
</div>

