<div class="first">
  <el-row>
    <div class="fr">
      <el-radio-group v-model="radio" style="line-height:40px;margin-right:16px;" @change="radioChange">
        <el-radio :label="1">已开播</el-radio>
        <el-radio :label="0">未开播</el-radio>
      </el-radio-group>
      <el-input
        placeholder="请输入…"
        suffix-icon="el-icon-search"
        v-model="search" style="width:260px;"
        @blur="searchBlur">
      </el-input>
    </div>
  </el-row>
  <el-row
  v-loading="loading"
  element-loading-text="拼命加载中"
  class="live-content">
    <el-col :lx="4" :lg="4" :md="8" class="h-img-col6" v-for="(item,index) in liveList" :key="index">
      <router-link tag="a" target="_blank" :to="{name:'live',query:{roomId:item.id}}" class="h-bigbox">
        <div class="h-img">
          <img :src="item.liveInCover" alt="">
          <div class="h-home">
            <span class="h-id">房间ID : {{item.id}}</span>
            <span class="h-active" v-if="radio==1">直播中</span>
            <span class="h-active h-active-no" v-else>未开播</span>
          </div>
        </div>
        <div class="h-titbox">
          <div class="h-title">
            {{item.liveTitle}}
          </div>
          <div class="h-name">
            <div class="fl">
              <span class="h-head fl">
                <img :src="item.liveCover" alt="" width="25" >
              </span>
              <span class="fl" style="padding-left:6px;">{{item.streamerName}}</span>
            </div>
            <div class="fr">
              <i class="el-icon-user"></i>
              <span>{{item.onlinenum}}</span>
            </div>
          </div>
        </div>
      </router-link>
    </el-col>
  </el-row>
  <el-row class="no-live-img" v-if="noList">
    <img src="../../assets/img/noLive.svg" alt="">
  </el-row>
</div>
